body{
  background-image: url("bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.text{
  margin: auto!important;
}
.btn{
  color: white!important;
}
